<form name="registerForm" action="" method=post layout="column">
  <h2>Sign up for {{reg.appname}}</h2>

  <!-- username -->
  <md-input-container>
    <label>Username</label>
    <input type="text" name="username" ng-model="reg.user.username" ng-minlength="3" ng-maxlength="12" required username-validator>
  </md-input-container>

  <!-- password -->
  <md-input-container>
    <label>Password</label>
    <input type="password" name="password" ng-model="reg.user.password" ng-minlength="6" ng-maxlength="12" required>
  </md-input-container>

  <!-- confirm password -->
  <md-input-container>
    <label>Confirm Password</label>
    <input type="password" name="confirmpassword" ng-model="reg.user.confirmpassword" required>
  </md-input-container>

  <!-- email -->
  <md-input-container>
    <label>Email</label>
    <input type="email" name="email" ng-model="reg.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
  </md-input-container>   
  
  <!-- submit -->
  <md-button ng-disabled="registerForm.username.$invalid || registerForm.email.$invalid || (reg.user.password != reg.user.confirmpassword)" class="md-raised">Submit</md-button>
  
  <!-- error messages -->
  <div ng-if="registerForm.$dirty">

    <div ng-if="registerForm.username.$dirty">
      <span ng-show="registerForm.username.$pending" class="md-whiteframe-z1 message-card info" layout layout-align="center center">Checking Username...</span>
      
      <span ng-show="registerForm.username.$error.username-validator" class="md-whiteframe-z1 message-card warning" layout layout-align="center center">Username already taken</span>

      <span ng-show="registerForm.username.$error.minlength" class="md-whiteframe-z1 message-card warning" layout layout-align="center center"><span>Username too short! Your username should be between 3 and 12 characters long.</span></span>

      <span ng-show="registerForm.username.$error.maxlength" class="md-whiteframe-z1 message-card warning" layout layout-align="center center"><span>Username too long! Your username should be between 3 and 12 characters long.</span></span>
    </div>

    <div ng-if="registerForm.password.$dirty">
      <span ng-show="registerForm.password.$error.minlength" class="md-whiteframe-z1 message-card warning" layout layout-align="center center"><span>Password too short! Your password should be between 6 and 12 characters long.</span></span>

      <span ng-show="registerForm.password.$error.maxlength" class="md-whiteframe-z1 message-card warning" layout layout-align="center center"><span>Password too long! Your password should be between 6 and 12 characters long.</span></span>
    </div>

    <div ng-if="registerForm.confirmpassword.$dirty">
      <span ng-show="reg.user.password != reg.user.confirmpassword" class="md-whiteframe-z1 message-card warning" layout layout-align="center center"><span>Password and confirm password should match.</span></span>
    </div>
    
    <div ng-if="registerForm.email.$dirty">
      <span ng-show="registerForm.email.$invalid" class="md-whiteframe-z1 message-card warning" layout layout-align="center center">Not a valid email address</span>
    </div>

  </div>
  <!-- / error messages -->

</form>